<div class="resume">
  <div class="resume_left">
    <div class="resume_profile">
      <img src="{{profile.avatar_url}}" alt="profile_pic">
    </div>
    <div class="resume_content">
      <div class="resume_item resume_info">
        <div class="title">
          <p class="bold">{{profile.name}}</p>
          <p class="regular">{{profile.bio}}</p>
        </div>
        <ul>
          <li>
            <div class="icon">
              <i class="fas fa-map-signs"></i>
            </div>
            <div class="data">
              {{profile.location}}
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fas fa-mobile-alt"></i>
            </div>
            <div class="data">
              {{profile.phoneNumber}}
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="data">
              {{profile.email}}
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fab fa-weebly"></i>
            </div>
            <div class="data">
              {{profile.blog}}
            </div>
          </li>
        </ul>
      </div>
      <div class="resume_item resume_skills">
        <div class="title">
          <p class="bold">skill's</p>
        </div>
        <div>
          <div>
            <div class="skill skill_name"  *ngFor="let item of profile.skills">
              {{item.name}}
            </div>
          </div>

        </div>
      </div>
      <div class="resume_item resume_social">
        <div class="title">
          <p class="bold">Social</p>
        </div>
        <ul>
          <li>
            <div class="icon">
              <i class="fab fa-facebook-square"></i>
            </div>
            <div class="data">
              <p class="semi-bold">Facebook</p>
              <p>Samanfacebook</p>
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fab fa-twitter-square"></i>
            </div>
            <div class="data">
              <p class="semi-bold">Twitter</p>
              <p>Samantwitter</p>
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fab fa-youtube"></i>
            </div>
            <div class="data">
              <p class="semi-bold">Youtube</p>
              <p>Samanyoutube</p>
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fab fa-linkedin"></i>
            </div>
            <div class="data">
              <p class="semi-bold">Linkedin</p>
              <p>Samanlinkedin</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="resume_right">
    <div class="resume_item resume_about">
      <div class="title">
        <p class="bold">About us</p>
      </div>
      <p>{{profile.Desc}}</p>
    </div>
    <div class="resume_item resume_work" *ngIf="this.profile.workExperiences">
      <div class="title">
        <p class="bold">Work Experience</p>
      </div>
      <ul>
        <li *ngFor="let item of profile.workExperiences;">
          <div class="date">
            {{item.from}} - {{item.to}}</div>
          <div class="info">
            <p class="semi-bold">{{item.name}}</p>
            <div *ngIf="item.achievements">
              <p class="mb-10" *ngFor="let achievement of item.achievements"> - {{achievement}}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="resume_item resume_education" *ngIf="this.profile.Educations">
      <div class="title">
        <p class="bold">Education</p>
      </div>
      <ul>
        <li *ngFor="let item of profile.Educations;">
          <div class="date">
            {{item.from}} - {{item.to}}</div>
          <div class="info">
            <p class="semi-bold">{{item.name}}</p>
            <div *ngIf="item.achievements">
              <p *ngFor="let achievement of item.achievements"> {{achievement}}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="resume_item resume_hobby">
      <div class="title">
        <p class="bold">Hobby</p>
      </div>
      <ul>
        <li><i class="fas fa-book"></i></li>
        <li><i class="fas fa-gamepad"></i></li>
        <li><i class="fas fa-music"></i></li>
        <li><i class="fab fa-pagelines"></i></li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>